In [1]:
import pandas as pd;
import numpy as np;
import matplotlib as plt;

In [19]:
# The Task
#
# No matter what data set you choose, you will submit a Jupyter Notebook containing:
# 1. Imported data, including at least two DataFrames and at least one combination of DataFrames via methods such as joining.
# 2. Functions for cleaning the data set, with explanations for how null values are being handled in each field.
# 3. At least two visualizations accompanied by textual descriptions of the business insights they communicate.

1. Imported data, including at least two DataFrames and at least one combination of DataFrames via methods such as joining.

In [ ]:
# dateframe 1
app_test = pd.read_csv('./data/application_test.csv')
display(app_test.shape)

# dateframe 2
cc_balance = pd.read_csv('./data/credit_card_balance.csv')
display(cc_balance.shape)

In [ ]:
# one combination of DataFrames via methods such as joining.
# this is telling me what cc_balance has many recorders of SK_ID_CURR
merged_df_inner = app_test.merge(cc_balance, on='SK_ID_CURR', how='inner')
display(merged_df_inner.shape)

merged_df_left = app_test.merge(cc_balance, on='SK_ID_CURR', how='left')
display(merged_df_left.shape)

2. Functions for cleaning the data set, with explanations for how null values are being handled in each field.

In [15]:
print("app_test")
display(app_test.shape)
display(app_test.dtypes)
print("cc_balance")
display(cc_balance.shape)
display(cc_balance.dtypes)

app_test

(48744, 121)

SK_ID_CURR                      int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 121, dtype: object

cc_balance

(3840312, 23)

SK_ID_PREV                      int64
SK_ID_CURR                      int64
MONTHS_BALANCE                  int64
AMT_BALANCE                   float64
AMT_CREDIT_LIMIT_ACTUAL         int64
AMT_DRAWINGS_ATM_CURRENT      float64
AMT_DRAWINGS_CURRENT          float64
AMT_DRAWINGS_OTHER_CURRENT    float64
AMT_DRAWINGS_POS_CURRENT      float64
AMT_INST_MIN_REGULARITY       float64
AMT_PAYMENT_CURRENT           float64
AMT_PAYMENT_TOTAL_CURRENT     float64
AMT_RECEIVABLE_PRINCIPAL      float64
AMT_RECIVABLE                 float64
AMT_TOTAL_RECEIVABLE          float64
CNT_DRAWINGS_ATM_CURRENT      float64
CNT_DRAWINGS_CURRENT            int64
CNT_DRAWINGS_OTHER_CURRENT    float64
CNT_DRAWINGS_POS_CURRENT      float64
CNT_INSTALMENT_MATURE_CUM     float64
NAME_CONTRACT_STATUS           object
SK_DPD                          int64
SK_DPD_DEF                      int64
dtype: object

In [22]:
# Make a list "null values are being handled in each field."
app_test.sample(10)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
1867,113209,Cash loans,M,Y,N,0,135000.0,296280.0,15124.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
43299,415085,Cash loans,F,N,Y,0,135000.0,350860.5,14994.0,283500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
15327,210523,Cash loans,M,Y,N,0,276300.0,450000.0,23107.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
9855,171551,Cash loans,M,N,Y,0,225000.0,900000.0,46084.5,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
12271,189207,Cash loans,F,N,N,0,157500.0,675000.0,53329.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
24196,276344,Cash loans,M,Y,Y,0,157500.0,454500.0,32323.5,454500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
35663,360960,Cash loans,M,N,Y,1,135000.0,182448.0,19287.0,157500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
45734,434283,Cash loans,F,N,Y,0,225000.0,568197.0,24201.0,490500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
37846,377226,Cash loans,F,N,Y,1,90000.0,481176.0,23278.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
20586,249333,Cash loans,M,N,N,0,180000.0,1350000.0,57199.5,1350000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Make a list "null values are being handled in each field."
cc_balance.sample(10)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1047880,1921520,408526,-6,0.000,90000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0,0.0,0.0,50.0,Completed,0,0
3575717,1184803,267307,-48,0.000,180000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0,0.0,0.0,22.0,Active,0,0
598486,2552628,138392,-1,0.000,202500,NaN,0.0,NaN,NaN,0.0,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3351123,1302543,300102,-68,71361.090,90000,6750.0,6750.0,0.0,0.0,4500.0,...,71361.090,71361.090,1.0,1,0.0,0.0,11.0,Active,0,0
1302824,2044350,130229,-64,64754.280,67500,0.0,5715.0,0.0,5715.0,3375.0,...,64754.280,64754.280,0.0,1,0.0,1.0,24.0,Active,0,0
2918657,1157033,173799,-53,67.500,67500,0.0,0.0,0.0,0.0,67.5,...,0.000,0.000,0.0,0,0.0,0.0,38.0,Active,0,0
2732112,2681996,310976,-45,0.000,0,NaN,0.0,NaN,NaN,NaN,...,0.000,0.000,NaN,0,NaN,NaN,NaN,Active,0,0
2574491,1999608,395959,-20,0.000,112500,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0,0.0,0.0,4.0,Active,0,0
2221795,1998103,365184,-82,187174.845,180000,3375.0,3375.0,0.0,0.0,9000.0,...,187174.845,187174.845,4.0,4,0.0,0.0,10.0,Active,0,0
3090546,1564315,417605,-38,364.230,0,0.0,0.0,0.0,0.0,0.0,...,364.230,364.230,0.0,1,1.0,0.0,29.0,Active,0,0

In [23]:
# Make a list "null values are being handled in each field."
merged_df_left.sample(10)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
100520,156963,Cash loans,F,N,Y,0,121500.0,296280.0,15255.0,225000.0,...,88671.915,88671.915,1.0,1.0,0.0,0.0,6.0,Active,0.0,0.0
291119,261293,Cash loans,M,N,Y,2,180000.0,495000.0,21933.0,495000.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,Active,0.0,0.0
515423,386287,Cash loans,M,Y,Y,1,270000.0,2102490.0,65389.5,1755000.0,...,0.000,0.000,0.0,0.0,0.0,0.0,5.0,Active,0.0,0.0
502197,378117,Cash loans,F,N,N,0,171000.0,621346.5,22446.0,513000.0,...,0.000,0.000,0.0,0.0,0.0,0.0,72.0,Active,0.0,0.0
31040,117399,Cash loans,F,N,N,0,225000.0,1572750.0,48946.5,1350000.0,...,0.000,0.000,0.0,0.0,0.0,0.0,15.0,Active,0.0,0.0
239636,231785,Cash loans,M,N,N,1,112500.0,495000.0,23814.0,495000.0,...,77592.240,77592.240,2.0,3.0,0.0,1.0,9.0,Active,0.0,0.0
518600,388169,Cash loans,F,N,Y,0,301500.0,490495.5,34267.5,454500.0,...,67394.745,67394.745,0.0,0.0,0.0,0.0,29.0,Active,0.0,0.0
83250,146623,Cash loans,F,N,Y,1,144000.0,675000.0,21906.0,675000.0,...,58398.030,58398.030,0.0,0.0,0.0,0.0,6.0,Active,0.0,0.0
148996,183076,Cash loans,F,Y,Y,0,202500.0,681633.0,22117.5,477000.0,...,414177.030,414177.030,0.0,0.0,0.0,0.0,11.0,Active,0.0,0.0
292287,261906,Cash loans,F,N,Y,0,243000.0,487971.0,48393.0,463500.0,...,0.000,0.000,0.0,0.0,0.0,0.0,39.0,Active,0.0,0.0

In [25]:
# Create a boolean mask for null values
null_mask = merged_df_left.isna()

# Identify columns with at least one null value
columns_with_null = null_mask.any()

# Print the columns with null values
print("Columns with null values:")
print(columns_with_null[columns_with_null].index)

# Alternatively, you can count the number of null values in each column
null_count = null_mask.sum()

# Print the count of null values in each column
print("\nCount of null values in each column:")
print(null_count[null_count > 0])

Columns with null values:
Index(['AMT_ANNUITY', 'NAME_TYPE_SUITE', 'OWN_CAR_AGE', 'OCCUPATION_TYPE',
       'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG',
       'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG',
       'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG',
       'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG',
       'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG',
       'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
       'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
       'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE',
       'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE',
       'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI',
       'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
       'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI',
       'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE',
       'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'SK_ID_PREV', 'MONTHS_BALANCE',
       'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

Count of null values in each column:
AMT_ANNUITY                     360
NAME_TYPE_SUITE               12474
OWN_CAR_AGE                  424310
OCCUPATION_TYPE              196697
EXT_SOURCE_1                 264116
                              ...
CNT_DRAWINGS_POS_CURRENT     176153
CNT_INSTALMENT_MATURE_CUM     72943
NAME_CONTRACT_STATUS          32091
SK_DPD                        32091
SK_DPD_DEF                    32091
Length: 86, dtype: int64

In [26]:
    # Make a copy of the DataFrame to avoid modifying the original data
    cleaned_df = merged_df_left.copy()
    cleaned_df.sample(10)

    # Example: Drop rows with null values in column 'column1'
    cleaned_df.dropna(subset=['column1'], inplace=True)

    # Example: Fill null values in column 'column2' with the mean of the column
    column2_mean = cleaned_df['column2'].mean()
    cleaned_df['column2'].fillna(column2_mean, inplace=True)

    # Example: Fill null values in column 'column3' with a fixed value (e.g., 0)
    cleaned_df['column3'].fillna(0, inplace=True)

    # ... Add more cleaning steps for other columns as needed

KeyError: ['column1']

In [29]:
cleaned_df = merged_df_left.copy()
cleaned_df.sample(10)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
585485,424850,Cash loans,M,Y,Y,0,135000.0,746280.0,59094.0,675000.0,...,0.000,0.000,NaN,0.0,NaN,NaN,0.0,Active,0.0,0.0
308212,270486,Cash loans,M,N,Y,1,112500.0,296280.0,21690.0,225000.0,...,239908.050,239908.050,0.0,0.0,0.0,0.0,9.0,Active,7.0,7.0
510891,383841,Cash loans,F,N,Y,0,67500.0,148140.0,11835.0,112500.0,...,115692.030,115692.030,1.0,1.0,0.0,0.0,32.0,Active,0.0,0.0
436880,339477,Cash loans,M,N,Y,0,180000.0,594121.5,26298.0,472500.0,...,0.000,0.000,0.0,0.0,0.0,0.0,46.0,Active,0.0,0.0
499728,376618,Cash loans,F,Y,Y,1,157500.0,276277.5,20232.0,238500.0,...,45071.505,45071.505,0.0,1.0,0.0,1.0,3.0,Active,0.0,0.0
176023,198187,Cash loans,F,Y,N,0,225000.0,182448.0,19287.0,157500.0,...,0.000,0.000,NaN,0.0,NaN,NaN,0.0,Active,0.0,0.0
621772,444846,Cash loans,F,N,Y,1,148500.0,182448.0,19287.0,157500.0,...,0.000,0.000,0.0,0.0,0.0,0.0,36.0,Active,0.0,0.0
1434,100913,Cash loans,F,N,Y,0,157500.0,720000.0,30505.5,720000.0,...,110117.430,110117.430,0.0,0.0,0.0,0.0,63.0,Active,0.0,0.0
357820,298155,Cash loans,F,N,N,0,90000.0,558000.0,18000.0,558000.0,...,93296.655,93296.655,0.0,0.0,0.0,0.0,1.0,Active,0.0,0.0
345065,291110,Cash loans,F,N,Y,0,171000.0,240858.0,27238.5,198000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN